
<div class="container">
   <h2>User Settings</h2><hr>

   <form #form='ngForm'>

     <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" [(ngModel)]='userSettings.name' >    
     </div>
     <div class="form-check form-group">
        <input class="form-check-input" type="checkbox"
         id="EmailOffers" name="EmailOffers" [(ngModel)]='userSettings.emailOffers'>
        <label class="form-check-label" for="EmailOffers">
         Email Special Offers
        </label>
     </div>
     <strong><p> User Iterface Style<p></strong>
         <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="InterfaceStyle"
                       id="lightinterface" value="light" checked [(ngModel)]="userSettings.interfarceStyle">
            <label class="form-check-label" for="lightinterface">
              Light
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="InterfaceStyle" 
                       id="mediuminterface" value="medium" [(ngModel)]="userSettings.interfarceStyle">
            <label class="form-check-label" for="mediuminterface">
              Medium
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="InterfaceStyle" 
                        id="darkinterface" value="dark"  [(ngModel)]="userSettings.interfarceStyle">
            <label class="form-check-label" for="darkinterface">
             Dark
            </label>
          </div>
      </div>

      <div class="form-group">
        <label for="subscriptiontype">Subscription Type</label>
        <select class="form-control" name="subscriptiontype" id="subscriptiontype" [(ngModel)]="userSettings.subscriptionType">
            <option></option>
          <option>Monthly</option>
          <option>Annual</option>
          <option>Lifetime</option>
        </select>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes"
                  rows="3" [(ngModel)]="userSettings.notes"></textarea>
      </div>
     

      <button class="btn btn-primary">Send</button>
   </form>
</div>

<h3>{{ OriginaluserSettings | json }}</h3>


